<nav class="navbar navbar-default">
 <div class="container">
  <div class="navbar-header pull-left">
   <h2><a class="navbar-brand" href="#/home">Inicio</a></h2>
  </div>
  
  
        <div class="navbar-header pull-left">
   <h2><a class="navbar-brand" href="#/register">Registrarse</a></h2>
  </div>

        <div class="navbar-header pull-left">
   <h2><a class="navbar-brand" href="#/verReportesUsuario">Reportes</a></h2>
  </div>
  
          <div class="navbar-header pull-left">
   <h2><a class="navbar-brand" href="#/profile">Perfil</a></h2>
  </div>
  

	  <div class="navbar-header pull-right" >
	   <h2><a class="navbar-brand"  href="#">Conectado: <b>{{currentUser.dato}}</b></a> <a class="navbar-brand" href=#" ng-click="logout()">logout</a></h2>
	  </div>
	  

   
  
<!--     <div class="pull-right"> -->
<!--     <ul class="nav navbar-nav"> -->
<!--       <li class="active"><a href="#/login">Log In</a></li> -->
<!--     </ul> -->
<!--   </div> -->
 </div>
</nav>